<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Lista Tankowań</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse">
                <a href="/refueling">
                    <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do Menu Tankowań
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="/refueling">Tankowania</a></li>
                    <li class="breadcrumb-item active">Lista Tankowań</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-center btn-group-lg" role="group">
                            <a href="/refueling/add">
                                <button class="btn btn-outline-primary m-1">
                                    <i class="fas fa-plus" style="font-size: x-large"></i><br>
                                    Dodaj Tankowanie
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lista Tankowań
                    </div>
                    <div class="card-body">
                        <table class="table" id="datatablesSimple">
                            <thead>
                            <tr>
                                <th class="col col-2">Data tankowania</th>
                                <th class="col col-3">Stan licznika</th>
                                <th class="col col-2">Ilość paliwa</th>
                                <th class="col col-2">Koszt tankowania</th>
                                <th class="col col-2">Pojazd</th>
                                <th class="col col-1">Akcje</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th class="col col-2">Data tankowania</th>
                                <th class="col col-3">Stan licznika</th>
                                <th class="col col-2">Ilość paliwa</th>
                                <th class="col col-2">Koszt tankowania</th>
                                <th class="col col-2">Pojazd</th>
                                <th class="col col-1">Akcje</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="refueling : ${refuelings}">
                                <td class="col col-2" th:text="${refueling.date}"></td>
                                <td class="col col-3" th:text="${refueling.odometerStatus}"></td>
                                <td class="col col-2" th:text="${refueling.fuelAmount} + ' l'"></td>
                                <td class="col col-2" th:text="${refueling.refuelingCost} + ' zł'"></td>
                                <td class="col col-2" th:text="${refueling.vehicle != null} ? '[' + ${refueling.vehicle.registrationNumber}
                                + '] ' + ${refueling.vehicle.brand} + ' ' + ${refueling.vehicle.model} : 'Brak'"></td>
                                <td class="col col-1">
                                    <div class="d-flex justify-content-center" role="group">
                                        <a th:href="@{/refueling/{id}(id=${refueling.id})}">
                                            <button class="btn btn-sm btn-outline-info m-1" data-toggle="tooltip"
                                                    data-placement="top" title="Szczegóły Tankowania">
                                                <i class="fas fa-info-circle"></i> Info
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
