<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Edytuj Firmę</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse">
                <a href="/company/list">
                    <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do Listy Firm
                    </button>
                </a>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="/company">Firmy</a></li>
            <li class="breadcrumb-item"><a href="/company/list">Lista Firm</a></li>
            <li class="breadcrumb-item"><a th:href="@{/company/{id}(id=${company.id})}">Lista Firm</a></li>
            <li class="breadcrumb-item active">Edytuj Firmę</li>
        </ol>
        <div class="row">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xxl-4 offset-xxl-4">
                <form th:action="@{/company}" method="post" th:object="${company}">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-align-justify me-1"></i>
                            Formularz edycji Firmy
                        </div>
                        <div class="card-body">
                            <input type="hidden" th:field="*{id}" th:value="*{id}">
                            <div class="mb-3">
                                <label for="name">Nazwa</label>
                                <input class="form-control" id="name" type="text" placeholder="Nazwa"
                                       required
                                       th:value="*{name}" th:field="*{name}">
                            </div>
                            <div>
                                <input type="hidden" th:field="*{status}" th:value="*{status}">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Wyślij</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
