<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dodaj Użytkownika</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse">
                <a href="/admin">
                    <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do Listy
                        Użytkowników
                    </button>
                </a>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin - Lista Użytkowników</a></li>
            <li class="breadcrumb-item active">Dodaj Użytkownika</li>
        </ol>
        <div class="row">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xxl-4 offset-xxl-4">
                <form th:action="@{/admin/user-save}" method="post" th:object="${applicationUser}">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-align-justify me-1"></i>
                            Formularz dodawania Użytkownika
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="username">Login</label>
                                <input class="form-control" id="username" type="text" placeholder="Login"
                                       minlength="4" required
                                       th:value="*{username}" th:field="*{username}">
                            </div>
                            <div class="mb-3">
                                <label for="password">Hasło</label>
                                <input class="form-control" id="password" type="password" placeholder="Hasło"
                                       minlength="4" required
                                       th:value="*{password}" th:field="*{password}">
                            </div>
                            <div class="mb-3">
                                <label for="role">Rola</label>
                                <select class="form-control" id="role" th:field="*{role}"
                                        required>
                                    <option th:each="userRole : ${userRoles}" th:value="${userRole.name()}"
                                            th:text="${userRole.name()}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <input id="enable" type="checkbox" th:field="*{enabled}">
                                <label for="enable"> Konto aktywne</label>
                            </div>
                            <div class="mb-3">
                                <input id="accountNonExpired" type="checkbox" th:field="*{accountNonExpired}" disabled>
                                <label for="accountNonExpired"> Konto nie wygasa</label>
                            </div>
                            <div class="mb-3">
                                <input id="accountNonLocked" type="checkbox" th:field="*{accountNonLocked}" disabled>
                                <label for="accountNonLocked"> Konto nie zablokowane</label>
                            </div>
                            <div class="mb-3">
                                <input id="credentialsNonExpired" type="checkbox" th:field="*{credentialsNonExpired}"
                                       disabled>
                                <label for="credentialsNonExpired"> Hasło nie wygasa</label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Wyślij</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        document.getElementById("enable").setAttribute("checked", "checked")
        document.getElementById("accountNonExpired").setAttribute("checked", "checked")
        document.getElementById("accountNonLocked").setAttribute("checked", "checked")
        document.getElementById("credentialsNonExpired").setAttribute("checked", "checked")
    </script>
</th:block>

</body>
</html>
