<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Edytuj Warsztat</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse">
                <a href="/car-workshop/list">
                    <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do Listy
                        Warsztatów
                    </button>
                </a>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="/car-workshop">Warsztaty</a></li>
            <li class="breadcrumb-item"><a href="/car-workshop/list">Lista Warsztatów</a></li>
            <li class="breadcrumb-item"><a th:href="@{'/car-workshop/' + ${carWorkshop.id}}">Warsztat -
                szczegóły</a>
            </li>
            <li class="breadcrumb-item active">Warsztat Kartę floty</li>
        </ol>
        <div class="row">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xxl-4 offset-xxl-4">
                <form th:action="@{'/car-workshop/update/' + ${carWorkshop.id}}" method="put"
                      th:object="${carWorkshop}">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-align-justify me-1"></i>
                            Formularz edycji Warsztatu
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="name">Nazwa</label>
                                <input class="form-control" id="name" type="text" placeholder="Nazwa"
                                       required
                                       th:value="*{name}" th:field="*{name}">
                            </div>
                            <div class="mb-3">
                                <label for="zipCode">Kod pocztowy</label>
                                <input class="form-control" id="zipCode" type="text" pattern="[0-9]{2}-[0-9]{3}"
                                       placeholder="00-001"
                                       required
                                       th:value="*{zipCode}" th:field="*{zipCode}">
                            </div>
                            <div class="mb-3">
                                <label for="city">Miasto</label>
                                <input class="form-control" id="city" type="text" placeholder="Miasto"
                                       required
                                       th:value="*{city}" th:field="*{city}">
                            </div>
                            <div class="mb-3">
                                <label for="street">Ulica</label>
                                <input class="form-control" id="street" type="text" placeholder="Ulica"
                                       required
                                       th:value="*{street}" th:field="*{street}">
                            </div>
                            <div class="mb-3">
                                <label for="number">Numer</label>
                                <input class="form-control" id="number" type="text" placeholder="Numer"
                                       required
                                       th:value="*{number}" th:field="*{number}">
                            </div>
                            <!--                            <div class="mb-3">-->
                            <!--                                <label for="vehicleId">Pojazd</label>-->
                            <!--                                <select class="form-control" id="vehicleId" th:field="*{vehicleId}">-->
                            <!--                                    <option th:value="${null}">&#45;&#45; Brak Pojazdu &#45;&#45;</option>-->
                            <!--                                    <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}"-->
                            <!--                                            th:text="'[' + ${vehicle.registrationNumber} + '] ' + ${vehicle.brand} + ' ' +  ${vehicle.model}"></option>-->
                            <!--                                </select>-->
                            <!--                            </div>-->
                            <div>
                                <input type="hidden" th:field="*{status}" th:value="*{status}">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Wyślij</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
