<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Pojazd - Szczegóły</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse">
                <a href="/vehicle/list">
                    <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do Listy Pojazdów
                    </button>
                </a>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="/vehicle">Pojazdy</a></li>
            <li class="breadcrumb-item"><a href="/vehicle/list">Lista Pojazdów</a></li>
            <li class="breadcrumb-item active">Pojazd - Szczegóły</li>
        </ol>
        <!--Buttons-->
        <div class="row">
            <div class="col col-12">
                <div class="d-flex justify-content-center btn-group-lg border-bottom p-2 mb-4" role="group">
                    <a sec:authorize="hasAuthority('vehicle:update')" th:href="@{/vehicle/edit/{id}(id=${vehicle.id})}">
                        <button class="btn btn-outline-warning m-1" data-toggle="tooltip"
                                data-placement="top" title="Edytuj Pojazd">
                            <i class="fas fa-edit" style="font-size: x-large"></i><br>
                            Edytuj Pojazd
                        </button>
                    </a>
                    <a sec:authorize="hasAuthority('vehicle:delete')"
                       th:href="@{/vehicle/delete/{id}(id=${vehicle.id})}">
                        <button class="btn btn-outline-danger m-1" data-toggle="tooltip"
                                data-placement="top" title="Usuń Pojazd">
                            <i class="fas fa-trash" style="font-size: x-large"></i><br>
                            Usuń Pojazd
                        </button>
                    </a>
                    <a sec:authorize="hasAuthority('vehicle:set_status')"
                       th:if="${vehicle.status == T(pl.kl.carfleetmanagementsystem.status.Status).INACTIVE}"
                       th:href="@{/vehicle/active/{id}(id=${vehicle.id})}">
                        <button class="btn btn-outline-success m-1" data-toggle="tooltip"
                                data-placement="top" title="Ustaw status: Aktywny">
                            <i class="fas fa-check-circle" style="font-size: x-large"></i><br>
                            Ustaw status: Aktywny
                        </button>
                    </a>
                    <a sec:authorize="hasAuthority('vehicle:set_status')"
                       th:if="${vehicle.status == T(pl.kl.carfleetmanagementsystem.status.Status).ACTIVE}"
                       th:href="@{/vehicle/inactive/{id}(id=${vehicle.id})}">
                        <button class="btn btn-outline-danger m-1" data-toggle="tooltip"
                                data-placement="top" title="Ustaw status: Nieaktywny">
                            <i class="fas fa-times-circle" style="font-size: x-large"></i><br>
                            Ustaw status: Nieaktywny
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6 col-xxl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-info me-1"></i>
                        Informacje o Pojeździe
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="col col-3" scope="row">#</th>
                                <td class="col col-9" th:text="${vehicle.id}"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">Nr rejestracyjny</th>
                                <td class="col col-9" th:text="${vehicle.registrationNumber}"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">Marka</th>
                                <td class="col col-9" th:text="${vehicle.brand}"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">Model</th>
                                <td class="col col-9" th:text="${vehicle.model}"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">VIN</th>
                                <td class="col col-9" th:text="${vehicle.vinNumber}"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">Rok produkcji</th>
                                <td class="col col-9" th:text="${vehicle.productionYear}"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">Typ</th>
                                <td class="col col-9" th:text="${vehicle.type.getCommonName()}"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">Firma</th>
                                <td class="col col-9"
                                    th:text="${vehicle.department != null} ? ${vehicle.department.company.name} : 'Brak'"></td>
                            </tr>
                            <tr>
                                <th class="col col-3" scope="row">Departament</th>
                                <td class="col col-9"
                                    th:text="${vehicle.department != null} ? ${vehicle.department.name} : 'Brak'"></td>
                            </tr>
                            <tr th:class="${vehicle.status == T(pl.kl.carfleetmanagementsystem.status.Status).INACTIVE} ? 'table-light'">
                                <th class="col col-3" scope="row">Status</th>
                                <td class="col col-9">
                                    <span th:if="${vehicle.status == T(pl.kl.carfleetmanagementsystem.status.Status).ACTIVE}">
                                        <i class="fas fa-check me-1"></i><span
                                            th:text="${vehicle.status.getCommonName()}"></span>
                                    </span>
                                    <span th:if="${vehicle.status == T(pl.kl.carfleetmanagementsystem.status.Status).INACTIVE}">
                                        <i class="fas fa-times me-1"></i><span
                                            th:text="${vehicle.status.getCommonName()}"></span>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
