<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Lista Kart floty</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse">
                <a href="/fleetcard">
                    <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do Menu Kart floty
                    </button>
                </a>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="/fleetcard">Karty floty</a></li>
            <li class="breadcrumb-item active">Lista Kart floty</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lista Kart floty
                    </div>
                    <div class="card-body">
                        <table class="table" id="datatablesSimple">
                            <thead>
                            <tr>
                                <th class="col col-7">Numer</th>
                                <th class="col col-2">Data ważności</th>
                                <th class="col col-1">Typ</th>
                                <th class="col col-1">Status</th>
                                <th class="col col-1">Akcje</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th class="col col-7">Numer</th>
                                <th class="col col-2">Data ważności</th>
                                <th class="col col-1">Typ</th>
                                <th class="col col-1">Status</th>
                                <th class="col col-1">Akcje</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="fleetCard : ${fleetCards}"
                                th:class="${fleetCard.status == T(pl.kl.carfleetmanagementsystem.status.Status).INACTIVE} ? 'table-light'">
                                <td class="col col-7" th:text="${fleetCard.number}"></td>
                                <td class="col col-2" th:text="${fleetCard.expirationDate}"></td>
                                <td class="col col-1" th:text="${fleetCard.type}"></td>
                                <td class="col col-1">
                                    <span th:if="${fleetCard.status == T(pl.kl.carfleetmanagementsystem.status.Status).ACTIVE}">
                                        <i class="fas fa-check me-1"></i> Aktywna
                                    </span>
                                    <span th:if="${fleetCard.status == T(pl.kl.carfleetmanagementsystem.status.Status).INACTIVE}">
                                        <i class="fas fa-times me-1"></i> Nieaktywna
                                    </span>
                                </td>
                                <td class="col col-1">
                                    <div class="d-flex justify-content-center btn-group-sm" role="group">
                                        <a th:href="@{/fleetcard/{id}(id=${fleetCard.id})}">
                                            <button class="btn btn-sm btn-outline-info m-1" data-toggle="tooltip"
                                                    data-placement="top" title="Szczegóły Karty floty">
                                                <i class="fas fa-info-circle"></i> Szczegóły
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
