<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Lista Pojazdów</title>
</head>
<body>
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col col-12 d-flex flex-row-reverse">
                <a href="/vehicle">
                    <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do Menu Pojazdów
                    </button>
                </a>
            </div>
        </div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="/vehicle">Pojazdy</a></li>
            <li class="breadcrumb-item active">Lista Pojazdów</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lista Pojazdów
                    </div>
                    <div class="card-body">
                        <table class="table" id="datatablesSimple">
                            <thead>
                            <tr>
                                <th class="col col-2">Nr rejestracyjny</th>
                                <th class="col col-2">Marka</th>
                                <th class="col col-2">Model</th>
                                <th class="col col-2">VIN</th>
                                <th class="col col-2">Rok produkcji</th>
                                <th class="col col-1">Typ</th>
                                <th class="col col-1">Akcje</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th class="col col-2">Nr rejestracyjny</th>
                                <th class="col col-2">Marka</th>
                                <th class="col col-2">Model</th>
                                <th class="col col-2">VIN</th>
                                <th class="col col-2">Rok produkcji</th>
                                <th class="col col-1">Typ</th>
                                <th class="col col-1">Akcje</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="vehicle : ${vehicles}">
                                <td class="col col-2" th:text="${vehicle.registrationNumber}"></td>
                                <td class="col col-2" th:text="${vehicle.brand}"></td>
                                <td class="col col-2" th:text="${vehicle.model}"></td>
                                <td class="col col-2" th:text="${vehicle.vinNumber}"></td>
                                <td class="col col-1" th:text="${vehicle.productionYear}"></td>
                                <td class="col col-1" th:text="${vehicle.type.getCommonName()}"></td>
                                <td class="col col-1">
                                    <div class="d-flex justify-content-center btn-group-sm" role="group">
                                        <a th:href="@{/vehicle/{id}(id=${vehicle.id})}">
                                            <button class="btn btn-sm btn-outline-info m-1" data-toggle="tooltip"
                                                    data-placement="top" title="Szczegóły Pojazdu">
                                                <i class="fas fa-info-circle"></i> Szczegóły
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
