<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Lista Kart floty</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid px-4">
        <!--Content of the page-->
        <h1 class="mt-4">Lista Kart floty</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="/fleetcard">Karty floty</a></li>
            <li class="breadcrumb-item active">Lista Kart floty</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lista Karty floty
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Numer</th>
                                <th>Data ważności</th>
                                <th>Typ</th>
                                <th>Akcje</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Numer</th>
                                <th>Data ważności</th>
                                <th>Typ</th>
                                <th>Akcje</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="fleetCard : ${fleetCards}">
                                <th th:text="${fleetCard.id}"></th>
                                <td th:text="${fleetCard.number}"></td>
                                <td th:text="${fleetCard.expirationDate}"></td>
                                <td th:text="${fleetCard.type}"></td>
                                <td>
                                    <div class="d-flex justify-content-center btn-group-sm" role="group">
                                        <a th:href="@{/fleetcard/{id}(id=${fleetCard.id})}">
                                            <button class="btn btn-sm btn-outline-info m-1">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </a>
                                        <a th:href="@{/fleetcard/{id}(id=${fleetCard.id})}">
                                            <button class="btn btn-sm btn-outline-warning m-1">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </a>
                                        <a th:href="@{/fleetcard/{id}(id=${fleetCard.id})}">
                                            <button class="btn btn-sm btn-outline-danger m-1">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
